[mysqld]
# MySQL generated certificates:
#ssl-ca=/var/lib/mysql/ca.pem
#ssl-cert=/var/lib/mysql/server-cert.pem
#ssl-key=/var/lib/mysql/server-key.pem

# Your own certificates
ssl-ca=/srv/certs/ca.pem
ssl-cert=/srv/certs/server-cert.pem
ssl-key=/srv/certs/server-key.pem